.container-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    max-width: 100vw;
}
#form-container{
    padding: 1% 0;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    border-radius: 16px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    margin-bottom: 1rem;

}

#pet-form {
    display: flex;
    flex-direction: column;
    gap: 0.7em;
    width: 60%;

}
.icones_conteudo{
    width: 3rem;
}
.container-lista{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}
#pets{
    padding-top: 8rem;
}
.campo_carregar_imagem {
    background-color: var(--primary-color);
}

.form-botoes{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:5%;
    padding-top: 5%;
    margin-bottom: 2em;
}


#botao-salvar, #botao-cancelar {
    padding: 0.8em 3em;
    border-radius: 8px;
    font-family: var(--font-terciary);
    background-color: var(--primary-color);
    color: var(--quaternary-color);
    font-weight: 700;
    border: 1px solid ;
    cursor: pointer;
}
.nome_pet{
    font-weight: 600;
    color: var(--secundary-color);
    font-family: var(--font-primary);
}
.form_placeholder {
    border-radius: 8px;
    padding: 0.5em;
    border: transparent;
    font-family: var(--font-primary);
    color: var(--quaternary-color);
    background-color: white;
    font-weight: 500;

}

.lista-filtros{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2em;
    list-style-type: none;
    margin: 1rem 0 2rem 0;
}
.ativo{
    background-color: var(--background-color-body);
    border: 1px solid var(--quaternary-color);
    color: var(--quaternary-color);
}
.lista-filtros-item{
    background-color: var(--terciary-color);
    padding: 1em 2em;
    border-radius: 8px;
    border: 1px solid var(--black-smooth-color);
    font-family: var(--font-primary);
    font-weight: 700;
    color: var(--black-smooth-color);
    font-size: 15px;
    cursor: pointer;
}

.lista-filtros-item:hover{
    background-color: var(--background-color-body);
    border: 1px solid var(--quaternary-color);
    color: var(--quaternary-color);
}

#lista-pets{
    gap: 3em;
    padding-bottom: 4em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 4%;
    justify-items: center;
}

.lista-item-pet{
    background-color: var(--terciary-color);
    border-radius: 8px;
    list-style: none;
    width: 80%;
    height: auto;
    text-align: center;
    padding: 1em;
    padding-bottom: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    border: 3px solid var(--black-smooth-color);
    cursor: pointer;
}

.lista-item-pet:hover {
  transform: scale(1.02);
  transition: all 0.2s ease-in-out;
  border-color: var(--quaternary-color);
}

.div-botoes{
    display: flex;
    align-items: center;
    justify-content: end;
    gap:0.1em;
    margin-top: 2rem;
}
label{
    color: var(--terciary-color);
    font-family: var(--font-primary);
    font-weight: 600;
    
}
.form_placeholder::placeholder{
    font-family: var(--font-primary);
    color: var(--quaternary-color);
    font-weight: 500;
    width: 100%;
}


input[type="file"] {
    background-color: white;
    
  }

  .linha>p{
    font-family: var(--font-primary);
}

.linha {
    display: flex;
    justify-content: center;
    gap: 0.5em;
}

.parametro-item-lista{
    color: var(--secundary-color);
    font-family: var(--font-primary);
}


.imagem_pet{
    width: 80%;
    height: auto;
    margin-top: 1em;
    border: 1px solid var(--terciary-color);
    border-radius: 8px;
}

.comentarios-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1em;
}

.botao_editar, .botao_excluir, .botao-favoritar{
    padding: 0.1em 0.2em;
    border: transparent;
    background-color: transparent;
    cursor: pointer;
}

#botao-salvar:hover{
    background-color: var(--terciary-color);
    color: var(--background-color-body);
}

#botao-cancelar:hover{
    background-color: var(--terciary-color);
    color: var(--background-color-body);
}
@media (max-width: 1180px){
    .lista-filtros{
        gap: 1em;

    }
    #lista-pets{
        width: auto;
    }

    .lista-item-pet{
        margin: 1rem;
    }
    .nome_botao{
        display: none;
    }

    .botao_icone{
        width: 1rem;
        height: auto;
    }

}
@media (max-width: 900px){

    #form-container{
        width: 95%;
    }
    h2>.icones_conteudo{
        width: 2.5rem;
    }
}
@media (max-width: 700px){

    .lista-filtros-item{
        max-width: 20%;
        display: flex;
        justify-content: center;
        padding: 1em 1.5em;
        font-size: 0.8rem;
    }

    #lista-pets{
        gap:0;
        max-width: 100%;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}
@media (max-width: 550px){


    h2>.icones_conteudo{
        width: 2rem;
    }

    label{
        font-size: 0.9rem;
    }
    .form_placeholder{
        font-size: 0.8rem;
    }
    #pet-form {
        width: 90%;
    }

}
@media (max-width: 480px){
    .botao_icone{
        width: 1.0rem;
        height: auto;
    }
    #lista-pets{
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .lista-filtros{
        gap: 0.5em;

    }

}

@media (max-width: 290px){

    label{
        font-size: 0.7rem;
    }
    .form_placeholder{
        font-size: 0.6rem;
    }

}

