:root{
    --background-color-body: rgba(207, 207, 205, 0.589);
    --primary-color: #f7f5f0a8;
    --secundary-color: #91633db2;
    --terciary-color: rgba(165, 132, 94, 0.486);
    --quaternary-color: #577b8d8e;
    --black-color: #000000b4;
    --black-smooth-color: #00000063;
    --font-primary: "Raleway", sans-serif;
    --font-secundary:"Inconsolata", monospace;;
    --font-terciary: "Roboto Mono", monospace;

}


*{
    margin: 0;
    padding: 0;
}

body {
    
    box-sizing: border-box;
    background-color : var(--background-color-body);
    color:var(--primary-color);
    font-family: var(--font-secundary);
    font-weight: 300;
    max-width: 100vw;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    border-radius: 30px;
    box-sizing: border-box;

    
}

.slogan{
    font-size: 20px;
    padding-top: 0.2rem;
}


.banner {
    margin-top: 50px;
    position: relative;
    min-width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--terciary-color);
    overflow: hidden;
    z-index: 0;
    width: 100vw;
  }

  
  .banner-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.308), rgba(104, 102, 102, 0.2)), url('./assets/dog1.jpg');
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    z-index: -1;
  }

.banner_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

h1, h2{
    font-family: var(--font-primary);
    font-weight: 300;
}

h1{
    font-size: 5rem;
    color: var(--primary-color);
    display: flex;
    align-items: center;
    margin-top: 1rem;

}

.container_texto>.fraseDeEfeito{
    padding: 0;
    color: var(--secundary-color);
    font-weight: 300;
    text-align: start;
}

.container_item_passo_a_passo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container_icone_passo_a_passo{
    background-color: var(--secundary-color);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
}
.icone_passo_a_passo{
    width: 50px;
}
.container_texto{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:2rem;
    margin: 2rem ;
    font-family: var(--font-primary);
    max-width: 100%;
}

.container_quem_pode_adotar{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
    border-radius: 16px;
    padding: 2rem;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
}
.lista{
    flex-direction: column;
    gap:0rem;
    align-items: flex-start;
}

.lista> .fraseDeEfeito{
    margin-top: 0.5em;
}
.nome_pet{
    font-weight: 600;
    color: var(--secundary-color);
    font-family: var(--font-primary);
}
.titulo_texto{
    font-weight: 700;
    color:var(--black-smooth-color);
    font-family: var(--font-primary);
    height: 100%;

}

.passo-a-passo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 16px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    padding: 2em;
    background-color: var(--primary-color);
    margin: 2rem;
    width: 90%;
    box-sizing: border-box;

}

.div_icone-hand-heart{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
}
.icone-hand-heart{
    width: 3rem;
}
.fraseDeEfeito{
    font-size: 1rem;
    color: var(--black-smooth-color);
    font-family: var(--font-primary);
    text-align: center;
    font-weight: 600;
    margin-top: 2em;
}

.frase_contato{
    font-size: 1.2rem;
    color: var(--black-smooth-color);
    text-align: center;
    margin-bottom: 2rem;
}
h2{
    font-size: 47px;
    color: var(--black-smooth-color);
    text-align: center;
    padding: 1em;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;

}

.icones_conteudo{
    width: 3rem;
}

h3{
    font-size: 1.5rem;
    color: var(--black-smooth-color);
    font-weight: 500;
    font-family: var(--font-primary);

}

.icone-patas{
    width: auto;
    height: 1em;
}

.container-lista{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

#pets{
    padding-top: 8rem;
}

.campo_carregar_imagem {
    background-color: var(--primary-color);
}

.form-botoes{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:5%;
    padding-top: 5%;
    margin-bottom: 2em;
}


#botao-salvar, #botao-cancelar {
    padding: 0.8em 3em;
    border-radius: 8px;
    font-family: var(--font-terciary);
    background-color: var(--primary-color);
    color: var(--quaternary-color);
    font-weight: 700;
    border: 1px solid ;
    cursor: pointer;
}

.div-botoes{
    display: flex;
    align-items: center;
    justify-content: end;
    gap:0.1em;
    margin-top: 2rem;
}

.lista-filtros{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2em;
    list-style-type: none;
    margin: 1rem 0 2rem 0;
}

.lista-filtros-item{
    background-color: var(--terciary-color);
    padding: 1em 2em;
    border-radius: 8px;
    border: 1px solid var(--black-smooth-color);
    font-family: var(--font-primary);
    font-weight: 700;
    color: var(--black-smooth-color);
    font-size: 15px;
    cursor: pointer;
}

.lista-filtros-item:hover{
    background-color: var(--background-color-body);
    border: 1px solid var(--quaternary-color);
    color: var(--quaternary-color);
}

.ativo{
    background-color: var(--background-color-body);
    border: 1px solid var(--quaternary-color);
    color: var(--quaternary-color);
}

#lista-pets{
   
    gap: 3em;
    padding-bottom: 4em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 4%;
    justify-items: center;
}

.lista-item-pet{
    background-color: var(--terciary-color);
    border-radius: 8px;
    list-style: none;
    width: 80%;
    height: auto;
    text-align: center;
    padding: 1em;
    padding-bottom: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    border: 3px solid var(--black-smooth-color);
    cursor: pointer;
}

.lista-item-pet:hover {
  transform: scale(1.02);
  transition: all 0.2s ease-in-out;
  border-color: var(--quaternary-color);
}

.linha>p{
    font-family: var(--font-primary);
}

.parametro-item-lista{
    color: var(--secundary-color);
    font-family: var(--font-primary);
}

.titulo_passo-a-passo{
    padding: 0;
    font-size: 2.2rem;
    color: var(--black-color);
    font-weight: 500;
}

.linha {
    display: flex;
    justify-content: center;
    gap: 0.5em;
}

.imagem_pet{
    width: 80%;
    height: auto;
    margin-top: 1em;
    border: 1px solid var(--terciary-color);
    border-radius: 8px;
}

.comentarios-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1em;
}

.botao_editar, .botao_excluir, .botao-favoritar{
    padding: 0.1em 0.2em;
    border: transparent;
    background-color: transparent;
    cursor: pointer;
}

.icone-editar-excluir{
    width: 15px;
}

#botao-salvar:hover{
    background-color: var(--terciary-color);
    color: var(--background-color-body);
}

#botao-cancelar:hover{
    background-color: var(--terciary-color);
    color: var(--background-color-body);
}


@media (max-width: 1180px){

    .container_texto{
        flex-direction: column;
    }
    .icone_seta{
        content: url("./assets/caret-double-down.svg");
    }

    .container_quem_pode_adotar{
        gap: 0rem;
        padding: 1rem;

    }

    .fraseDeEfeito{
        margin-top: 0.5rem;
    }

    #lista-pets{
        width: auto;
    }

    .banner {
        height: 300px;
    }
    .lista-item-pet{
        margin: 1rem;
    }

    .nome_botao{
        display: none;
    }

    .botao_icone{
        width: 1rem;
        height: auto;
    }

    .lista-filtros{
        gap: 1em;

    }
    h3{
        font-size: 1rem;
    }
    .container_quem_pode_adotar{
        margin-bottom: 5rem;
    }

    .frase_contato{
        font-size: 0.8rem;
        margin: 3rem 0rem;
    }
}

@media (max-width: 700px){


    .banner {
        height: 200px;
    }

    .container_texto{
        margin: 0 0 2rem 0rem ;
    }
    .container_texto lista{
        margin: 0;
        padding: 0;

    }
    .container_icone_passo_a_passo{
        
        width: 80px;
        height: 80px;
        
    }

    .fraseDeEfeito{
        font-size: 0.9rem;
        margin-top: 0.5rem;
    }

    #lista-pets{
        gap:0;
        max-width: 100%;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .lista-filtros-item{
        max-width: 20%;
        display: flex;
        justify-content: center;
        padding: 1em 1.5em;
        font-size: 0.8rem;
    }

    .titulo_passo-a-passo{
        font-size: 1.5rem;
    }

    .icone-hand-heart{
        width: 2rem;
    }

    .container_quem_pode_adotar{
        flex-direction: column;
        padding: 1.5rem 1.5rem 0rem;
    }


}

@media (max-width: 480px){
 

    .titulo_passo-a-passo{
        font-size: 1.5rem;
    }
    .banner {
        height: 150px;
        margin-top: 40px;
    }


    .fraseDeEfeito{
        padding-bottom: 1.5rem;
    }
    .container_texto{
        gap: 0.5rem;
    }
    .container_texto .fraseDeEfeito{
        gap: 1rem;
        padding-bottom: 0rem;
    }

    .botao_icone{
        width: 1.0rem;
        height: auto;
    }
    .div-botoes{

        gap:1em;
    }

    .lista-filtros{
        gap: 0.5em;

    }
    #lista-pets{

        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

}

