:root{
    --background-color-body: rgba(207, 207, 205, 0.589);
    --primary-color: #f7f5f09a;
    --secundary-color: #b87d4d;
    --terciary-color: rgba(165, 132, 94, 0.486);;
    --quaternary-color: #577b8d;
    --font-primary: "Raleway", sans-serif;
    --font-secundary:"Inconsolata", monospace;;
    --font-terciary: "Roboto Mono", monospace;

}


*{
    margin: 0;
    padding: 0;
}

body {
    
    box-sizing: border-box;
    background-color : var(--background-color-body);
    color:var(--primary-color);
    font-family: var(--font-secundary);
    font-weight: 300;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% 8%;
    border-radius: 30px;
    
}

.banner {
    min-width: 100%;
    height: 400px;
    background-image: url('./assets/hanna2.jpg');
    background-size:cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--terciary-color);
    filter: blur(1px);
    color: white;

}

.banner_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

h1, h2{
    font-family: var(--font-primary);
    padding: 1em;
    font-weight: 300;
}

h1{
    font-size: 64px;
    color: var(--secundary-color);
    
}
h2{
    font-size: 47px;
    color: var(--secundary-color);

}
h3{
    font-size: 24px;
    color: var(--quaternary-color);
    font-weight: 300;

}

.icone-patas{
    width: auto;
    height: 1em;
}

.container-principal {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#form-container{
    padding: 1% 0;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    border-radius: 16px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
}

.container-lista{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.form_placeholder {
    border-radius: 8px;
    padding: 0.5em;
    border: transparent;
    font-family: var(--font-secundary);
    color: var(--quaternary-color)
}


.campo_carregar_imagem {
    background-color: var(--primary-color);
}


label{
    color: var(--secundary-color);
    
}

.form_placeholder::placeholder{
    font-family: var(--font-secundary);
    color: var(--quaternary-color);
    width: 100%;
}


.form-botoes{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:5%;
    padding-top: 5%;
    margin-bottom: 2em;
   
}

#pet-form {
    display: flex;
    flex-direction: column;
    gap: 0.7em;
    width: 60%;

}


#botao-salvar, #botao-cancelar {
    padding: 0.8em 3em;
    border-radius: 8px;
    font-family: var(--font-terciary);
    background-color: var(--primary-color);
    color: var(--quaternary-color);
    font-weight: 700;
    border: 1px solid ;
    cursor: pointer;


}

.div-botoes{
    display: flex;
    align-items: center;
    justify-content: end;
    gap:0.1em;
    margin-top: 2rem;
}

.linha_divisoria{
    width: 100%;
    margin-top: 8rem;
}

.lista-filtros{
    width: 100%;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 4% 0;

}

.lista-filtros-item{
    background-color: var(--terciary-color);
    padding: 1em 2em;
    border-radius: 8px;
    border: 1px solid var(--primary-color);
    font-family: var(--font-primary);
    color: var(--primary-color);
    font-size: 15px;
    cursor: pointer;

}

.lista-filtros-item:hover{
    background-color: var(--background-color-body);
    border: 1px solid var(--quaternary-color);
    color: var(--quaternary-color);
}

#lista-pets{
   
    gap: 3em;
    padding-bottom: 4em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 4%;
}

.lista-item-pet{
    background-color: var(--terciary-color);
    border-radius: 8px;
    list-style: none;
    max-width: 100%;
    height: auto;
    text-align: center;
    padding: 1em;
    padding-bottom: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.parametro-item-lista{
    color: var(--secundary-color)
}

.linha {
    display: flex;
    justify-content: center;
    gap: 0.5em;
}

.imagem_pet{
    width: 80%;
    height: auto;
    margin-top: 1em;
    border: 1px solid var(--terciary-color);
    border-radius: 8px;
}


.comentarios-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1em;
}

.botao_editar, .botao_excluir, .botao-favoritar{
    padding: 0.1em 0.2em;
    border: transparent;
    background-color: transparent;
    cursor: pointer;
}

.icone-editar-excluir{
    width: 15px;
}

#botao-salvar:hover{
    background-color: var(--terciary-color);
    color: var(--background-color-body);
}

#botao-cancelar:hover{
    background-color: var(--terciary-color);
    color: var(--background-color-body);
}

@media (max-width: 950px){

    #pet-form {
        width: 400px;
    }
    #lista-pets{
        width: auto;
    }

    .container-lista{
        display: flex;
        justify-content: center;
        margin: 0;
        width: 100%;
        flex-wrap:wrap;
    }

    main {
        margin: 5% 10%;
    }
    body {
        background-position:45%;
    }

}

@media (max-width: 680px){
    h1{
        text-align: center;
    }

    #pet-form {
        width: 95%;
    }

    .form-botoes{
        gap:1%;
    }

    #botao-salvar, #botao-cancelar {
        padding: 0.8em 1.5em;
    }

    #lista-pets{
        width: auto;
        justify-content: center;
    }

    .container-principal {
        width: 100%;
    }

    main {
        margin: 5% 5%;
    }
}
@media (max-width: 450px){
    #botao-salvar, #botao-cancelar {
        padding: 0.8em 0.5em;
    }

    h1{
        font-size: 30px;
        text-align: center;
    }

    h2{
        text-align: center;
    }
    body {
        background-position:48%;
    }
}
