.feiras-section{
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.feiras-section h2{
    font-weight: bold;
    color: var(--quaternary-color);
}
.feiras-section p{
    color: var(--black-smooth-color);
    text-align: center;
    font-family: var(--font-primary);
}
.feiras-section>img{
    width: 500px;
}

.feiras-introducao{
    width: 90%;
    border: 1px solid var(--primary-color);
    border-radius: 16px;
    padding: 2rem;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: 18px;
    background-color: var(--primary-color);

}
.feiras-introducao h3{
    font-weight: bold;
    text-align: center;
}
.feiras-introducao li{
    color: var(--black-smooth-color);
    font-family: var(--font-primary);
}
.feiras-introducao img{
    width: 300px;
}

.proximas-feiras-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem 0;
    gap: 2rem;
}
.proximas-feiras-container-img{
    width: 300px;
}

.proximas-feiras-texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.proximas-feiras-texto button{
    border: 1px solid var(--quaternary-color);
    background: transparent;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    padding: 1rem 2rem;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem; 
    width: auto; 
    cursor: pointer;
    font-weight: 600;
    color: var(--quaternary-color);
}
.proximas-feiras-texto button:hover{
    transform: scale(1.1);
    border: 1px solid var(--black-smooth-color);
    color: var(--black-smooth-color);
    background: var(--quaternary-color);
}
.proximas-feiras-texto h2{
    padding:1rem;
}
.proximas-feiras-texto h3{
    margin: 2rem 0rem;
}


.fa-instagram{
    color: var(--quaternary-color);
  }



.galeria-container{
    width: 100vw;
    background-color: var(--quaternary-color);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    overflow: hidden;
    margin: 0 auto;
    padding: 1rem;
    overflow: hidden;
    box-sizing: border-box;
}
.galeria-container img{
    width: 500px;
    height: 500px;
    border-radius: 8px;
    object-fit: cover;
}

@media (max-width: 1100px) {
    .galeria-container{
        grid-template-columns: repeat(2, 1fr);

    }
    .galeria-container img{
        width: 400px;
        height: 400px;
    }
  }
  
  @media (max-width: 750px) {
    .galeria-container img{
        width: 300px;
        height: 300px;
    }
    .feiras-introducao{
        width: 80%;

    }
  }
  @media (max-width: 550px) {
    .galeria-container img{
        width: 200px;
        height: 200px;
    }

    .proximas-feiras-container{
        flex-direction: column-reverse;
        margin: 4rem 0;
        gap: 2rem;
    }
    .feiras-section>img{
        width: 400px;
    }
  }
  @media (max-width: 480px) {
    .feiras-section>img{
        width: 300px;
    }
   
  }
  @media (max-width: 400px) {
    .galeria-container img{
        width: 150px;
        height: 150px;
    }
  }